@import url('https://fonts.googleapis.com/css?family=Pacifico');

body{
	background-color:#FAFAFA;
}
aside,section{
	width:45%;
	float:left;
}

*{
	box-sizing: border-box;
}



img{
	
	max-width: 100%;
	height:auto;
}
aside>img{
	display: block;
	margin:6rem 0rem 0rem 12rem;
}

img[src$=".jpg"]{
    
    display: block;
	position: absolute;
	left:9.4rem;
	top:6.2rem;
}

section>#outor_container{

margin-top:2rem;
width:60%;
border:2px solid #E6E6E6;
margin-left:2rem;
text-align: center;
padding:2rem;
background-color:#fff;

}

section>#outor_container>h1{

font-size:2rem;
font-family: 'Pacifico', cursive;


}
span{
	display: block;
	color:#99999F;
	font-size:1.4rem;
}

small{
	display: block;
	line-height:1.3rem;
	color:#99999F;
}

p,button,span,small{
	margin-top:1rem;
}

section>#outor_container button{
	background-color:#5074DB;
	padding:.4rem;
	color:#fff;
	width:100%;
	border-radius: 5px;
}

section>#outor_container>p{
	font-size:1.2rem;
	color:#99999F;
	line-height: 1.3rem;

}

section>#outor_container>form{
	
	margin-top:2rem;
}

section>#outor_container>form>input{
	display: block;
	margin: .5rem auto;
	padding:.5rem;
	border-radius: 5px;
	border:1px solid #E6E6E6;
	width:80%;

}


#have_an_account_container{
	
	
    width:60%;
    border:2px solid #E6E6E6;
    margin-left:2rem;
    text-align: center;
    background-color:#fff;
    margin-top:1rem;
    padding-bottom:1rem;
	
}

a{
	text-decoration: none;
}

#get_the_app{

	margin-left:25%;
	color:#5F5D5D;
	
}

#bottom-btn-container{
width:80%;
margin:1rem auto;

}

.bottom-btn{

width:140px;
height:auto;
max-width: 100%;


}

@media screen and (max-width: 1267px){

aside{
	display: none;
}

section>#outor_container,#have_an_account_container,#bottom-btn-container,#get_the_app{
	float:none;
	width:30%;
	margin:2rem auto;
	
}

#get_the_app{
	text-align: center;
}

section{
	
	width:100%;
}


}